<div class="modal fade" id="supplyModal" data-oyster-supplies--supply-calendar-target="supplyModal" tabindex="-1" role="dialog" aria-labelledby="supplyActionModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="supplyActionModalLabel">牡蠣の供給ツールパネル<span id="supply_action_date_title"></span></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="tab-content modal-body overflow-hidden" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-partial" role="tabpanel">
          <div id="supply_action_partial" class="position-relative"></div>
        </div>
      </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
    </div>
    </div>
  </div>
</div>