
<!-- NAVIGATION TABS -->
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link text-black active" 
        id="nav-sakoshi-am-tab" 
        data-bs-toggle="tab" 
        href="#nav-sakoshi-am" 
        role="tab" 
        aria-controls="nav-sakoshi-am" 
        aria-selected="true">
      坂越・午前
    </a>
    <a class="nav-item nav-link bg-secondary text-black border-bottom-0" 
        id="nav-sakoshi-pm-tab" 
        data-bs-toggle="tab" 
        href="#nav-sakoshi-pm" 
        role="tab" 
        aria-controls="nav-sakoshi-pm" 
        aria-selected="false">
      坂越・午後
    </a>
    <a class="nav-item nav-link text-black border-bottom-0" 
        id="nav-aioi-am-tab" 
        data-bs-toggle="tab" 
        href="#nav-aioi-am" 
        role="tab" 
        aria-controls="nav-aioi-am" 
        aria-selected="false">
      相生・午前
    </a>
    <a class="nav-item nav-link bg-secondary text-black border-bottom-0" 
        id="nav-aioi-pm-tab" 
        data-bs-toggle="tab" 
        href="#nav-aioi-pm" 
        role="tab" 
        aria-controls="nav-aioi-pm" 
        aria-selected="false">
      相生・午後
    </a>
    <a class="nav-item nav-link text-black border-bottom-0" 
        id="nav-okayama-tab" 
        data-bs-toggle="tab" 
        href="#nav-okayama" 
        role="tab" 
        aria-controls="nav-okayama" 
        aria-selected="false">
      岡山
    </a>
    <a class="nav-item nav-link bg-secondary text-black border-bottom-0" 
        id="nav-hoka-tab" 
        data-bs-toggle="tab" 
        href="#nav-hoka" 
        role="tab" 
        aria-controls="nav-hoka" 
        aria-selected="false">
      その他
    </a>
    <a class="nav-item nav-link text-black border-bottom-0" 
        id="nav-price-tab" 
        data-bs-toggle="tab" 
        href="#nav-price" 
        role="tab" 
        aria-controls="nav-price" 
        aria-selected="false">
      兵庫単価表
    </a>
  </div>
</nav>