<div class="modal fade" id="volumesModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="volumesModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div id="volume_partial">
        <%= render 'profits/shared/volumes', locals: {profit: @profit} %>
      </div>
    </div>
  </div>
</div>